{
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "editor.formatOnSave": true,
  "tabWidth": 2,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "semi": false,
  "arrowParens": "avoid"
}
